/* CSS declarations go here */





.entry {
	
	width:500px;
	height:auto;
	padding: 10px 15px 10px 15px;
	
	float: left;
	
}
.contest-row {

    width: 1200px;
	display: block;
  height: auto;
  overflow: auto;

}

.btn {
		margin: auto;
		
		display: block;
		
		
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

 .submittedBy {

   
   max-height:20px;
    text-align: left;
 }




.link-preview {
   /* width: 1028px;
    height: 800px; */
   
   height: auto;
   width:1000px;

   
    display: inline-block;
  transform: scale(.3);
  transform-origin: 0 0;
   
    border: none;
    pointer-events: none;
 
 /*
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(1.0);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;  */

}



